@using Antlr.Runtime.Tree
@model IEnumerable<MovieShopDll.Entities.Genre>

@{
    ViewBag.Title = "All genres";
}

<h2>All genres</h2>

<p class="btn btn-default">

    @Html.ActionLink("Add new genre", "Create")
</p>
<br><br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            <a href="#"><i class="-alt fa fa-2x fa-eye fa-fw"></i></a>
                        </td>
                        <td>
                            <h4>
                                <b>@Html.DisplayFor(Model => item.Name)</b>
                            </h4>
                            <p></p>
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.GenreId}, new { @class = "btn btn-default"})
                                @Html.ActionLink("Delete", "Delete", new { id = item.GenreId }, new {@class= "btn btn-default"})
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
        
